@import "src/styles/variables";
@import "../../extendsForBlock";

.skills_block__item p {
    @extend %for-block-text;

    color: $white_main_color;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}