@import "src/styles/variables";

.experience-block__body {
  width: auto;
  padding: $block_padding;
  box-shadow: $block-shadow;
  color: $black_main_color;
  background-color: $green_main_color;

  @media (width <   992px) {
    padding: $block_padding_for_992;
  }

  @media (width <   767px) {
    padding: $block_padding_for_767;
  }

  @media (width <   479px) {
    box-shadow: none;
  }
}


