@import "src/styles/variables.scss";
.experience-block__title {
  color: $white_main_color;
  font-size: $title_fs_big;
  font-weight: $text_fw;
  line-height: $title_lh;
  margin-bottom: 20px;

  @media (max-width: 992px) {
    font-size: $title_fs_normal;
    margin-bottom: 10px;
  }

  @media (max-width: 767px) {
    font-size: $title_fs_small;
  }
}
