@import "src/styles/variables.scss";

.main-block__contacts-list {

  font-size: $text_fs_big;
  font-weight: $text_fw;
  line-height: $text_lh;

  li {
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-between;
  }

  @media (max-width: 992px) {
    font-size: $text_fs_normal;
  }

  @media (max-width: 767px) {
    font-size: $text_fs_small;
  }
}


