@media (max-width: 767px) {
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 70px 10px 20px 10px;
        background-color: #000;
        transition: all 0.4s ease 0s;
    }
    .header__menu.change {
        top: 0;
    }
}