.page__experience-block {
  grid-column: 2/3;
  border-top: 80px solid transparent;
  margin-top: -80px;

  @media (width <   767px) {
    border-top: 60px solid transparent;
    margin-top: -60px;
  }
}


