@import "variables";

%for-block-padding {
  padding: $block_padding;
  box-shadow: $block-shadow;

  @media (width <   992px) {
    padding: $block-padding-for_992;
  }

  @media (width <   767px) {
    padding: $block-padding-for_767;
  }

  @media (width <   479px) {
    box-shadow: none;
  }
}

%for-block-text {
  font-size: $text-fs_big;
  line-height: $text-lh;
  font-weight: $text-fw;

  @media (width <   992px) {
    font-size: $text-fs-normal;
  }

  @media (width <   767px) {
    font-size: $text-fs-small;
  }
}

%for-block-title {
  font-size: $title-fs-big;
  line-height: $text-lh;
  font-weight: $text-fw;

  @media (width <   992px) {
    font-size: $title-fs-normal;
  }

  @media (width <   767px) {
    font-size: $title-fs-small;
  }
}

