@import "src/styles/fonts";
@import "~normalize.css";
@import "variables";
@import "about-block/about_block";
@import "background/background-img";
@import "burger/burger";
@import "education-block/education-block";
@import "experience-block/experience-block";
@import "header/header";
@import "main-block/main_block";
@import "page/page";
@import "skills-block/skills-block";
@import "timeline/timeline";

html,
body {
  font-family: "Lato Regular", Roboto, sans-serif;
  height: 100%;
  line-height: 1;
  font-size: $fs_regular;
  color: $black_main_color;

  @media (max-width <= 479px) {
    &.lock {
      overflow: hidden;
    }
  }
}

.container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;

  @media (max-width <= 479px) {
    padding: 0;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  color: $white_main_color;
}

/* обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-style: inherit;
}