$header-color: #f5f5f5;
$white-main-color: #fff;
$black-main-color: #000;
$green-main-color: rgb(90 158 153);
$purple-main-color: rgb(125 90 140);
$yellow-main-color: rgb(227 184 43);
$block-padding: 15px 20px;
$block-padding-for-992: 13px 25px;
$block-padding-for-767: 10px 20px;
$block-shadow: 0 2px 5px 0 rgba(0 0 0 .16) 0 2px 10px 0 rgba(0 0 0 .12);
$fs-regular: 18px;
$main-fs-big: 2.18rem;
$main-fs-normal: 1.8rem;
$main-fs-small: 1.3rem;
$main-fw: 800;
$main-lh: 110%;
$main-ts: 2px 2px 4px rgba(0 0 0 0.29);
$main-title-fs-big: 1.2em;
$main-title-fs-normal: 1.0em;
$main-title-fs-small: 0.8em;
$main-title-fw: 400;
$main-title-lh: 110%;
$header-fs: 1.2rem;
$header-fs-mobile: 1.4em;
$header-lh: 123%;
$text-fw: 400;
$text-lh: 135%;
$text-fs-big: 1.0rem;
$text-fs-normal: 0.9rem;
$text-fs-small: 0.7rem;
$title-fs-big: 2.0rem;
$title-fs-normal: 1.8rem;
$title-fs-small: 1.3rem;
$title-lh: 110%;
$bg-img-filter: blur(2px);
$bar-w-normal: 25px;
$b-w-big: 30px;
$b-h: 4px;