.skills-block__bar {
    font-size: 1.0rem;
    font-weight: 400;
    text-align: right;
    padding: 10px 5px 10px 0;
    color: #000;
    background-color: rgb(227, 184, 43);
}

.skills-block__bar_html {
    width: 90%;
}

.skills-block__bar_css {
    width: 80%;
}

.skills-block__bar_js {
    width: 65%;
}

.skills-block__bar_python {
    width: 60%;
}

@media (max-width: 992px) {
    .skills-block__bar {
        font-size: 0.8rem;
    }
}

@media (max-width: 767px) {
    .skills-block__bar {
        font-size: 0.8rem;
    }

    .skills-block__bar {
        font-size: 0.6rem;
    }
}
