.burger__bar1 {
    background-color: rgb(227, 184, 43);
}

.burger__bar2 {
    background: rgb(90, 158, 153);
}

.burger__bar3 {
    background-color: rgb(125, 90, 140);
}

.change .burger__bar1 {
    transform: translate(0, 10px) rotate(45deg);
    background-color: rgb(227, 184, 43);
}

.change .burger__bar2 {
    opacity: 0;
}

.change .burger__bar3 {
    transform: translate(0, -10px) rotate(-45deg);
    background-color: rgb(227, 184, 43);
}


@media (max-width: 479px) {
    .bar {
        width: 30px;
    }

}

