.change .burger {
    left: 165px;
}

.burger {
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.bar {
    width: 25px;
    height: 4px;
    background-color: white;
    z-index: 2;
    margin: 6px 0;
    transition: 0.4s;
}