.header__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.header__list li {
    margin: 0 0 0 20px;
}

@media (max-width: 767px) {

    .header__list {
        display: block;
    }

    .header__list li {
        margin: 0 0 20px 0;
    }
}