@import "src/styles/variables";
@import "../../extendsForBlock";

.timeline__content {
  color: #616161;
  padding: 20px 30px;
  background-color: $white_main_color;
  position: relative;
  border-radius: 6px;

  & h6 {
    @extend %for-block-title;

    margin-bottom: 20px;

    @media (width <   992px) {
      margin-bottom: 10px;
    }
  }

  & p {
    @extend %for-block-text;
  }
}


