@import "src/styles/variables.scss";
@import "src/styles/extends.scss";

.about-block__body {
  @extend %for_block_padding;
  color: $white_main_color;
  width: auto;
  background-color: $green_main_color;
}
