@import "src/styles/variables";
@import "../../extendsForBlock";

.about-block__body {
  @extend %for-block-padding;

  color: $white-main-color;
  width: auto;
  background-color: $green-main-color;
}
