@import "src/styles/variables";
@import "../../extendsForBlock";

.about-block__body {
  @extend %for-block-padding;

  color: $white_main_color;
  width: auto;
  background-color: $green_main_color;
}
