@import "src/styles/variables.scss";

.header__link {
  color: $yellow_main_color;
  text-transform: uppercase;
  font-size: $header_fs;
  line-height: $header_lh;

  &:active,
  &:focus {
    color: #939393;
  }

  @media (max-width: 479px) {
    font-size: $header_fs_mobile;
  }
}



