@import "src/styles/variables";

.main-block__profession {
  font-size: $main_title_fs_big;
  font-weight: $main_title_fw;
  line-height: $main_title_lh;
  margin-top: -10px;
  margin-bottom: 20px;
  text-shadow: $main_ts;

  @media (max-width <= 992px) {
    font-size: $main_title_fs_normal;
    margin-top: -5px;
    margin-bottom: 10px;
  }

  @media (max-width <= 767px) {
    font-size: $main_title_fs_small;
  }
}


