.page__background {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 600px;
}

@media (max-width: 992px) {
    .page__background {
        height: 445px;
    }
}

@media (max-width: 767px) {
    .page__background {
        height: 350px;
    }

}

@media (max-width: 479px) {
    .page__background {
        display: none;
    }
}