@import "__about-block/page__about-block";
@import "__background/page___background";
@import "__education-block/page__education-block";
@import "__experience-block/page__experience-block";
@import "__main-block/page__main-block";
@import "__skills-block/page__skills-block";

.page {
  display: grid;
  grid-template-columns: 1fr minmax(480px, auto) 1fr;
  grid-template-rows: auto;
  row-gap: 40px;
  grid-auto-flow: row;
  justify-content: center;

  @media (max-width <= 992px) {
    row-gap: 20px;
  }

  @media (max-width <= 767px) {
    row-gap: 15px;
  }

  @media (max-width <= 479px) {
    display: flex;
    flex-direction: column;
    margin: 160px 0 0;
    row-gap: 0;
  }
}


