.timeline__content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.timeline__content h6 {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 110%;
    margin-bottom: 20px;
}

.timeline__content p {
    font-size: 1.0rem;
    font-weight: 400;
}

@media (max-width: 992px) {
    .timeline__content h6 {
        font-size: 1.0rem;
        margin-bottom: 10px;
    }

    .timeline__content p {
        font-size: 0.8rem;
    }
}

@media (max-width: 767px) {
    .timeline__content h6 {
        font-size: 0.8rem;
    }

    .timeline__content p {
        font-size: 0.6rem;
    }
}
